.main-header {
  margin-top: 20px;
  text-align: center;
  h1 {
    font-family: $cursive-font;
    font-size: 2rem;
  }
  nav {
    a {
      margin: 0px 10px;
      text-transform: uppercase;
      color: $black-color;
      &:hover {
        color: $gold-color;
      }
    }
  }
}
