body {
  margin: 40px;
  background-color: white;
  color: $black-color;
  text-align: center;
  font-family: $regular-font;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: $gold-color;
  transition: color .25s;
  &:hover {
    color: $gold-hover-color;
  }
}

p {
  line-height: 1.35;
  text-align: left;
}

section {
  margin: 0px 20px 40px 20px;
  h1 {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 2rem;
  }
}

.container {
  margin: 40px auto;
  max-width: 850px;
}

@media only screen and (max-width : 768px) {
  body {
    margin: 0px;
  }

  nav a {
    font-size: .95rem;
  }
}
