.details {
  .hotel-map {
    margin-top: 15px;
    overflow:hidden;
    position:relative;
    padding-bottom: 60%;
    iframe {
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }
  }
}
