.index {
  .main-image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 40px;
    h2 {
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 2.2rem;
    }
    .wedding-info {
    }
    .wedding-story {
      text-align: left;
    }
  }
}
