.photos {
  .gallery {
    [itemprop="thumbnail"]{
      max-height: 120px;
      width: 125px;
      vertical-align: middle;
    }
    figure {
      display: inline-block;
      text-align: left;
      img {
      }
      margin: 5px;
    }
  }
}
