---
title: Jiayi &amp; RJ's Wedding
---

<div class="details">
  <h1>Details &amp; Accommodations</h1>
  <section class="hilton-info">
    <p>Our wedding and reception will be held at the <a href="http://www3.hilton.com/en/hotels/florida/hilton-fort-lauderdale-beach-resort-FLLFSHH/index.html">Hilton Fort Lauderdale Beach Resort</a> on January 26, 2018. It's about 20 min drive from Fort Lauderdale-Hollywood International Airport. If you want to stay at the hotel, the price is around $250-$350/night before tax.</p>
    <iframe class="hotel-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.067691290299!2d-80.10631268523605!3d26.129335799663487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d901d4775b7a11%3A0x3169928a39bc66c0!2sHilton+Fort+Lauderdale+Beach+Resort!5e0!3m2!1sen!2sus!4v1499992916216" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>

  <section class="hotel">
    <h1>Nearby hotels</h1>
    <p><a href="http://www.westinfortlauderdalehotel.com/">The Westin Fort Lauderdale Beach Resort</a> is around $104 per night and very close to our wedding location</p>
    <iframe class="hotel-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.067691290299!2d-80.10631268523605!3d26.129335799663487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa2b25259966a6c07!2sThe+Westin+Fort+Lauderdale+Beach+Resort!5e0!3m2!1sen!2sus!4v1499993593170" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
</div>
