---
title: Jiayi &amp; RJ's Wedding
---

<div class="details">
  <h1>Details</h1>
  <p>Our wedding will be held at the Hilton, but there are many great hotels in Fort Lauderdale near the Hilton to stay at.</p>
  <section class="hotel-info">
    <h2>Hilton</h2>
  </section>
</div>
