---
title: Welcome to Middleman
---

<%= tag :img, src: "images/main_image.jpg", class: "main-image" %>
<section class="wedding-info">
  <h2>When & Where</h2>
  <div class="wedding-date">January 26, 2018</div>
</section>
