---
title: Jiayi &amp; RJ's Wedding
---

<div class="index">
  <%= tag :img, src: "images/main-image.jpg", class: "main-image" %>
  <section class="wedding-info">
    <h1>When &amp; Where</h2>
    <div class="wedding-date">January 26, 2018</div>
    <div class="wedding-location">Fort Lauderdale, Florida</div>
  </section>

  <section class="our-story">
    <h1>Our story</h2>
    <p class="wedding-story">RJ first met Jiayi in a hiking to Blue Hill reservation, MA. With the beautiful Boston skyline in the backgroud, the spark flew and both of them decided to hangout for more adventures. Their first date was in Sacco's Bowl Haven, Somerville, MA , a nice old-fashioned flatbread restaurant featuring candlepin bowling, where they still love dining in. They had tons of happy adventures going to the museums, national parks and even to the Great Wall. They shared lots of memories together and now they'll share the rest of their life together!</p>
  </section>
</div>
