---
title: Jiayi &amp; RJ's Wedding
---

<div class="registry">
  <h1>Registry</h1>
  <section class="">
    <p>We are registered at both <a href="
https://www.amazon.com/wedding/raymond-cox-jiayi-wu-fort-lauderdale-january-2018/registry/3LPFNO8UAM9AJ
">Amazon</a> and <a href="https://www.macys.com/wgl/registry/guest/6834535">Macys</a>. Feel free to get us gifts from either!
    <div style='display:table-cell; vertical-align:middle; text-align:center'><a href='https://www.amazon.com/wedding/raymond-cox-jiayi-wu-fort-lauderdale-january-2018/registry/3LPFNO8UAM9AJ' target='_blank'><img src='https://s3-us-west-2.amazonaws.com/lambda-guestview-screenshots/screenshots/screenshots_guestview_ATVPDKIKX0DER_3LPFNO8UAM9AJ.png' width='90%' height='90%' border='1'></a></div>
  </section>
</div>
